#particles-js, #welcome-word-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-button, #project-anchor a {
  color: white;
}

#welcome-button:hover {
  background: white;
  color: var(--color2);
}

#particles-js {
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: var(--color1);
}

#welcome-word-container {
  position: absolute;
  flex-direction: column;
}

#welcome-button {
  padding: 20px;
  margin: 15px;
  border: 2px solid var(--color2);
  background: var(--color1);
  font-size: 2vh;
  opacity: 1;
}

#welcome-button:hover, #welcome-button:focus {
  opacity: .75;
  border: 4px solid var(--color2);
}

#about {
  display: flex;
  padding-top: 5vh;
  justify-content: center;
}

#about-area {
  background: var(--color1);
  width: 55vw;
  margin: 25px;
  padding: 15px;
  border-radius: 15px;
}

#about a {
  color: white;
  text-decoration: none;
}

#about-info {
  padding: 2vh;
}

#about p, #about a {
  margin: 2vh;
  font-size: 2.5vh;
}

#me-image {
  width: 30vh;
  height: auto;
  float: left;
  -webkit-clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
  padding: 2vh;
}

#qualifications {
  -webkit-clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  clip-path: polygon(0 0%, 100% 4%, 100% 96%, 0% 100%);
  width: 100%;
  padding: 8vh 0;
  margin: 10vh 0;
  text-align: center;
  background: var(--color1);
}

#qual-title {
  text-align: center;
  padding: 1vh;
}

#qual-container {
  display: grid;
  grid-template: 50% 50% / 33% 33% 33%;
}

#qualifications img {
  height: 15vh;
  width: auto;
  margin: 2vh;
  align-self: center;
  justify-self: center;
}

#project-anchor {
  display: flex;
  justify-content: center;
  padding-top: 5vh;
}

#project-anchor a:hover {
  box-shadow: 10px 10px 20px gray
}

#project-anchor a {
  font-size: 4vh;
  text-align: center;
  background: var(--color1);
  border: 3px solid var(--color2);
  padding: 2vh;
}

@media screen and (max-width: 1366px) {
  #welcome, #qualifications {
    width: 100%;
  }

  #about-area {
    width: 80vh;
  }

  #qualifications img {
    height: 10vh;
    width: auto;
    margin: 5vh;
  }
}

@media screen and (max-width: 500px) {
  #about-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #me-image {
    height: 60vw;
    width: auto;

  }
  #qualifications img {
    height: 10vh;
    width: auto;
  }
}