:root {
  --color1: #2c2e43;
  --color2: #4f5ff7;
}

#navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 99;
  height: 10vh;
  font-family: 'Slabo 27px', serif;
}

#main-nav {
  border-bottom: 3px solid var(--color2);
  border-top: 1px solid var(--color2);
  overflow: hidden;
  width: 100%;
  background-color: var(--color1);
  list-style-type: none;
}

.nav-link {
  color: white;
  text-decoration: none;
  float: left;
  display: block;
  padding: 14px 16px;
  text-align: center;
  border-right: 1px solid var(--color2);
}

.nav-link-img {
  float: right;
  display: block;
  height: 5vh;
  border-left: 1px solid var(--color2);
  padding: 0px 16px;
}

.nav-logo {
  float: left;
}

.nav-img {
  height: 5vh;
}

.nav-link:hover {
  color: var(--color1);
  background: white;
}