:root {
  --color1: #2c2e43;
  --color2: #4f5ff7;
  --font-large: 4vh;
  --font-med: 3vh;
  --font-small: 2.5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

h1 {
  font-size: 5vh;
  text-align: center;
}

h2, h3 {
  font-size: var(--font-large);
  text-align: center;
}

h3 {
  text-decoration: underline;
}

p {
  font-size: var(--font-med);
}

button {
  cursor: pointer;
}