:root {
  --color1: #2c2e43;
  --color2: #4f5ff7;
  --font-large: 4vh;
  --font-med: 3vh;
  --font-small: 2.5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

h1 {
  font-size: 5vh;
  text-align: center;
}

h2, h3 {
  font-size: var(--font-large);
  text-align: center;
}

h3 {
  text-decoration: underline;
}

p {
  font-size: var(--font-med);
}

button {
  cursor: pointer;
}


#contact-topper {
  -webkit-clip-path: polygon(49% 84%, 0% 100%, 100% 100%);
  clip-path: polygon(49% 84%, 0% 100%, 100% 100%);
  background: var(--color1);
  height: 10vh;
}

#contact {
  height: 95vh;
  width: 100%;
  background: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h3 {
  padding: 2vh;
  padding-top: 5vh;
}

#contact-desc {
  font-size: 2.5vh;
  width: 75vw;
  padding: 4vh;
}

#contact-info {
  display: flex;
  flex-direction: column;
}

#contact-email, #contact-git, #contact-linkedin {
  display: flex;
  justify-content: center;
  padding: 3vh;
}

.contact-left {
  width: 30vw;
}

.contact-right {
  width: 60vw;
}
.contact-right:hover {
  color: var(--color2);
}

.contact-right a:hover  {
  text-decoration: underline;
  background: white;
  padding: .75vh;
  border: 3px solid var(--color2);
  opacity: .75;
}

#contact a:link, #contact a:visited {
  text-decoration: inherit;
  color: inherit;
}

@media screen and (max-width: 1366px) {
  #contact-desc {
    width: 90vw;
  }
}