@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

:root {
  --color1: #2c2e43;
  --color2: #4f5ff7;
  --font-large: 4vh;
  --font-med: 3vh;
  --font-small: 2.5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Slabo 27px', serif;
  font-weight: normal;
}

html {
  animation: fade 1s;
}

body {
  overflow-x: hidden;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

h1 {
  font-size: 5vh;
  text-align: center;
}

h2, h3, {
  font-size: 4vh;
  font-size: var(--font-large);
  text-align: center;
}

h3, h4 {
  text-decoration: underline;
}

h4 {
  font-size: 3vh;
}

p, a, span {
  font-size: 3vh;
  font-size: var(--font-med);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.pointer {
  cursor: pointer
}


#contact-topper {
  -webkit-clip-path: polygon(49% 84%, 0% 100%, 100% 100%);
  clip-path: polygon(49% 84%, 0% 100%, 100% 100%);
  background: var(--color1);
  height: 10vh;
}

#contact {
  height: 100vh;
  width: 100%;
  background: #2c2e43;
  background: var(--color1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact h3 {
  padding: 2vh;
  padding-top: 5vh;
}

#contact-desc {
  font-size: 2.5vh;
  width: 75vw;
  padding: 4vh;
}

#contact-info {
  display: flex;
  flex-direction: column;
}

#contact-email, #contact-git, #contact-linkedin {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 3vh;
}

.contact-left {
  width: 30vw;
}

#contact a:link, #contact a:visited {
  text-decoration: inherit;
  color: inherit;
  transition: all .3s;
}

.ul-mid-out {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.ul-mid-out:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color2);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.ul-mid-out:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.grow {
  transform: scale(1.1);
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideIn {
  animation: slideIn .3s;
}


@media screen and (max-width: 1366px) {
  #contact-desc {
    width: 90vw;
  }
}